In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("first.csv")
df

,Unnamed: 0.1,Manhole Inspection Report with Graphics\rGrid Number :\r779390-566883\rSelection Criteria:\rNo filter applied,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,Inspection Date : 06/11/2019\rLocation :\rNst ...,NaN,NaN,NaN,NaN,NaN
1,1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
2,2,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Manhole,NaN,NaN,NaN,NaN,NaN
4,4,NaN,1,Is the manhole available for inspection?,Yes,NaN,None
5,5,NaN,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None
6,6,NaN,3,Voltage on the cover,No,NaN,None
7,7,NaN,4,Manhole type,Sidewalk,NaN,NaN
8,8,NaN,5,Cover condition,Good,NaN,None
9,9,NaN,6,Cover size,28 inch,NaN,NaN
10,10,NaN,7,Cover type,Single Action Vented,NaN,NaN
11,11,NaN,8,Free of debris?,Yes,NaN,None
12,12,NaN,9,Free of water/mud?,Yes,NaN,None
13,13,NaN,10,Manhole condition,Good,NaN,None

In [3]:
df.drop(["Unnamed: 0.1"], axis = 1, inplace = True)
df.head()

,Manhole Inspection Report with Graphics\rGrid Number :\r779390-566883\rSelection Criteria:\rNo filter applied,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Inspection Date : 06/11/2019\rLocation :\rNst ...,NaN,NaN,NaN,NaN,NaN
1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Manhole,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Is the manhole available for inspection?,Yes,NaN,None

In [4]:
df.drop([0], axis = 0, inplace = True)
df.head()

,Manhole Inspection Report with Graphics\rGrid Number :\r779390-566883\rSelection Criteria:\rNo filter applied,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Manhole,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Is the manhole available for inspection?,Yes,NaN,None
5,NaN,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None

In [5]:
ss = df.iloc[0]
ss

Manhole Inspection Report with Graphics\rGrid Number :\r779390-566883\rSelection Criteria:\rNo filter applied           Item Name
Unnamed: 0                                                                                                               Sequence
Unnamed: 1                                                                                                               Question
Unnamed: 2                                                                                                         Primary Answer
Unnamed: 3                                                                                                       Secondary Answer
Unnamed: 4                                                                                                        Answer Priority
Name: 1, dtype: object

In [6]:
dd = df[1:]
dd.columns = ss
dd.head()

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Manhole,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Is the manhole available for inspection?,Yes,NaN,None
5,NaN,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None
6,NaN,3,Voltage on the cover,No,NaN,None

In [7]:
dd

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Manhole,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Is the manhole available for inspection?,Yes,NaN,None
5,NaN,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None
6,NaN,3,Voltage on the cover,No,NaN,None
7,NaN,4,Manhole type,Sidewalk,NaN,NaN
8,NaN,5,Cover condition,Good,NaN,None
9,NaN,6,Cover size,28 inch,NaN,NaN
10,NaN,7,Cover type,Single Action Vented,NaN,NaN
11,NaN,8,Free of debris?,Yes,NaN,None
12,NaN,9,Free of water/mud?,Yes,NaN,None
13,NaN,10,Manhole condition,Good,NaN,None

In [8]:
dd["man_hole_id"] = 5464666

C:\Users\Azhar Uddin\AppData\Local\Temp\ipykernel_2536\2628172223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd["man_hole_id"] = 5464666

In [10]:
dd["Item Name"] = "Manhole"
dd

C:\Users\Azhar Uddin\AppData\Local\Temp\ipykernel_2536\3275746002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd["Item Name"] = "Manhole"

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority,man_hole_id
2,Manhole,NaN,NaN,NaN,NaN,NaN,5464666
3,Manhole,NaN,NaN,NaN,NaN,NaN,5464666
4,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None,5464666
5,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None,5464666
6,Manhole,3,Voltage on the cover,No,NaN,None,5464666
7,Manhole,4,Manhole type,Sidewalk,NaN,NaN,5464666
8,Manhole,5,Cover condition,Good,NaN,None,5464666
9,Manhole,6,Cover size,28 inch,NaN,NaN,5464666
10,Manhole,7,Cover type,Single Action Vented,NaN,NaN,5464666
11,Manhole,8,Free of debris?,Yes,NaN,None,5464666
12,Manhole,9,Free of water/mud?,Yes,NaN,None,5464666
13,Manhole,10,Manhole condition,Good,NaN,None,5464666

In [15]:
dd.drop([3], axis = 0, inplace = True)
dd

KeyError: '[3] not found in axis'

In [16]:
dd

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority,man_hole_id
4,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None,5464666
5,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None,5464666
6,Manhole,3,Voltage on the cover,No,NaN,None,5464666
7,Manhole,4,Manhole type,Sidewalk,NaN,NaN,5464666
8,Manhole,5,Cover condition,Good,NaN,None,5464666
9,Manhole,6,Cover size,28 inch,NaN,NaN,5464666
10,Manhole,7,Cover type,Single Action Vented,NaN,NaN,5464666
11,Manhole,8,Free of debris?,Yes,NaN,None,5464666
12,Manhole,9,Free of water/mud?,Yes,NaN,None,5464666
13,Manhole,10,Manhole condition,Good,NaN,None,5464666

In [19]:
dd.columns

Index(['Item Name', 'Sequence', 'Question', 'Primary Answer',
       'Secondary Answer', 'Answer Priority', 'man_hole_id'],
      dtype='object', name=1)

In [20]:
dd = dd[["man_hole_id", "Item Name", 'Sequence', 'Question', 'Primary Answer', 'Secondary Answer', 'Answer Priority']]
dd

1,man_hole_id,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
4,5464666,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None
5,5464666,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None
6,5464666,Manhole,3,Voltage on the cover,No,NaN,None
7,5464666,Manhole,4,Manhole type,Sidewalk,NaN,NaN
8,5464666,Manhole,5,Cover condition,Good,NaN,None
9,5464666,Manhole,6,Cover size,28 inch,NaN,NaN
10,5464666,Manhole,7,Cover type,Single Action Vented,NaN,NaN
11,5464666,Manhole,8,Free of debris?,Yes,NaN,None
12,5464666,Manhole,9,Free of water/mud?,Yes,NaN,None
13,5464666,Manhole,10,Manhole condition,Good,NaN,None

In [21]:
dd.to_csv("first.csv", index = False)