In [13]:
import pandas as pd
import numpy as np
import pdfplumber
df=pd.read_csv("first.csv")            
df

ModuleNotFoundError: No module named 'pdfplumber'

In [8]:
df.drop([0],axis=0,inplace=True)
df.head()

NameError: name 'df' is not defined

In [9]:
ss=df.iloc[0]
ss

NameError: name 'df' is not defined

In [10]:
dd=df[1:]
dd.columns=ss
dd.head()

NameError: name 'df' is not defined

In [32]:
dd["Manhole_ID"]="779390-566883"
dd

C:\Users\vigne\AppData\Local\Temp\ipykernel_11140\1671089821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd["Manhole_ID"]="779390-566883"

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority,Manhole_ID
2,Manhole,NaN,NaN,NaN,NaN,NaN,779390-566883
3,Manhole,NaN,NaN,NaN,NaN,NaN,779390-566883
4,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None,779390-566883
5,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None,779390-566883
6,Manhole,3,Voltage on the cover,No,NaN,None,779390-566883
7,Manhole,4,Manhole type,Sidewalk,NaN,NaN,779390-566883
8,Manhole,5,Cover condition,Good,NaN,None,779390-566883
9,Manhole,6,Cover size,28 inch,NaN,NaN,779390-566883
10,Manhole,7,Cover type,Single Action Vented,NaN,NaN,779390-566883
11,Manhole,8,Free of debris?,Yes,NaN,None,779390-566883
12,Manhole,9,Free of water/mud?,Yes,NaN,None,779390-566883
13,Manhole,10,Manhole condition,Good,NaN,None,779390-566883

In [46]:
dd.drop([2],axis=0,inplace=True)
dd

KeyError: '[2] not found in axis'

In [47]:
dd

1,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority,Manhole_ID
4,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None,779390-566883
5,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None,779390-566883
6,Manhole,3,Voltage on the cover,No,NaN,None,779390-566883
7,Manhole,4,Manhole type,Sidewalk,NaN,NaN,779390-566883
8,Manhole,5,Cover condition,Good,NaN,None,779390-566883
9,Manhole,6,Cover size,28 inch,NaN,NaN,779390-566883
10,Manhole,7,Cover type,Single Action Vented,NaN,NaN,779390-566883
11,Manhole,8,Free of debris?,Yes,NaN,None,779390-566883
12,Manhole,9,Free of water/mud?,Yes,NaN,None,779390-566883
13,Manhole,10,Manhole condition,Good,NaN,None,779390-566883

In [48]:
dd.columns

Index(['Item Name', 'Sequence', 'Question', 'Primary Answer',
       'Secondary Answer', 'Answer Priority', 'Manhole_ID'],
      dtype='object', name=1)

In [51]:
dd=dd[['Manhole_ID','Item Name', 'Sequence', 'Question', 'Primary Answer',
       'Secondary Answer', 'Answer Priority']]

In [52]:
dd

1,Manhole_ID,Item Name,Sequence,Question,Primary Answer,Secondary Answer,Answer Priority
4,779390-566883,Manhole,1,Is the manhole available for inspection?,Yes,NaN,None
5,779390-566883,Manhole,2,What is combustible gas percentage? If gas\rp...,0%,NaN,None
6,779390-566883,Manhole,3,Voltage on the cover,No,NaN,None
7,779390-566883,Manhole,4,Manhole type,Sidewalk,NaN,NaN
8,779390-566883,Manhole,5,Cover condition,Good,NaN,None
9,779390-566883,Manhole,6,Cover size,28 inch,NaN,NaN
10,779390-566883,Manhole,7,Cover type,Single Action Vented,NaN,NaN
11,779390-566883,Manhole,8,Free of debris?,Yes,NaN,None
12,779390-566883,Manhole,9,Free of water/mud?,Yes,NaN,None
13,779390-566883,Manhole,10,Manhole condition,Good,NaN,None

In [12]:
dd.to_csv("new.csv",index=False)

NameError: name 'dd' is not defined